body {
  padding: 5vw;
}

button{
  background-color: #59bfff;
  border: none;
  border-radius: 5px; 
  padding: 12px;
  color: white;
  cursor: pointer;
}

button:hover{
  background-color: #12a3ff;
}

.search-movie, .result-wrapper, .nominations{
  border:1px solid #cecece;
  border-radius: 5px;
  padding: 1vw;
}


/*Results/Nominations*/
.results_and_nom{
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.nominations{
  width: 30%;
}

.result-wrapper{
  margin-bottom: 25px;
  padding: 15px;
  display: flex
}

.result-image{
  width: 20%;
}

.result-descript{
  width: 60%;
}

.result-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}


.results_and_nom img {
  width: 90%;
  height: 150px;
}

.nom-message{
  background-color: #59bfff;
  color: white;
  margin: 0px;
  padding: 3%;
}

.nominations img {
  width: 33%;
}

.nomination{
  display: flex;
  align-items: flex-start;
  padding: 2% 0;
}

.nomination-info{
  margin: 0 3%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 150px;
}

@media (max-width: 800px) {
  .test-wrapper{
    width: 100%;
  }
  .nominations{
    margin: 2% 0;
    width: 93%;
  }
  .results_and_nom{
    flex-direction: column-reverse;
  }
  .nominations img{
    width: 20%;
  }
  .search-movie, .test, .nominations{
    padding: 3vw;
  }
  button, input[type="text"]{
    margin-top: 2%;
  }
}