body {
  padding: 5vw;
}

button {
  background-color: #59bfff;
  border: none;
  border-radius: 5px;
  padding: 12px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #12a3ff;
}

.search-movie,
.result-inner-wrapper,
.nomination-inner-wrapper {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 10px 1%;
}
