body {
  padding: 5vw;
}

button {
  border: none;
  border-radius: 5px;
  padding: 12px;
  color: white;
  cursor: pointer;
  outline: none;
}

button:hover{
  transform: scale(1.1);
}

button:disabled:hover{
  transform: scale(1);
}

.search-movie,
.result-inner-wrapper,
.nomination-inner-wrapper {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 10px 1%;
}

h1, h2, label {
  margin: 0px 0px 20px 0px;
  font-family: 'Cinzel', serif;
  background: url('./images/gold.png') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1{
  font-size: 80px;
  margin: 0px;
}

h2{
  font-size: 40px;
}

.shopify-logo{
  width: 100px;
  height: 100px;
}

.header{
  display: flex;
}

.App{
  animation: fade-in 1s ease-in;
}

@keyframes fade-in{
  from{ 
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

